body {
    background-color: #909090;

}

p{
    padding:0;
    margin:0;
}

.smallroundcorners{
    border-radius: 5px;

}

.medroundcorners{
    border-radius: 15px 5px 15px 5px;
    
}

.gamedisplay{
    display: inline-block;

    background-color: black;
    width: 256px;
        
    height: 290px;
    border: 3px solid;
    border-color: #040404;
    margin: 10px;

}

.gametitle{
    background-color: #c0c0c0;
    width: 256px;
    height: 30px;


}


#featuredgames{

    min-width:300px;

    padding:5px;
    margin-left:160px;
    margin-right:300px;
    transition: ease-in-out, margin .4s  ease-in-out;
}


#allgames{
    float:left;
    width:150px;
    height: 1000px;
    border: 3px solid;
    border-color: #040404;
    background-color: #040404;

}
#banner{
    top:0px;
    left:0px;
    position:fixed;
    margin-right:200px;
    cursor: pointer;
    min-width:1000px;
    height: 100px;
    width:100%;
    font-size: 400%;
    color:  #c0c0c0;
    background-color: #040404;
}

#bannerholder{

    margin-bottom:10px;
    padding:0px;
    min-width:1000px;
    height: 150px;
    width:100%;
    font-size: 400%;
    background-color: #202020;
}



#acountopt{
    cursor: pointer;
    float: right;
    margin-right:300px;
    transition: ease-in-out, margin .4s  ease-in-out;
}

#acountopt{
    float: right;
    height: 50px;
    width:50px;
    padding:5px;
    /*background-color: grey;*/
}
#userphoto{
    padding:3px;
    padding-left:40px;
    padding-right:40px;
    height:117px;
    width: 120px;
    /*background-color: grey;*/


}
#acountoptions{
    position: fixed;
    top:-200px;
    right:300px;
    height: 200px;
    width:200px;
    background-color: black;
    transition: ease-in-out, top .4s  ease-in-out;
}
#usernamedisplay{
    color: white;
        font-size: 20px;
        height:27px;
    
}
#loginwindow{
    padding: 20px;
    height: 300px;
    width: 300px;
    background-color: white;
    position: fixed;
    right:50%;
    top:50%;
    visibility: hidden;
}


#canclelog{
    float: right;

}

#loginoverlay{
    height: 100%;
    width:100%;
    background-color:rgba(128,128,128,0.5);
    position: fixed;
    left:0;
    top:0;
    visibility: hidden;
}

#login{
    visibility: visible;

}
#pmuseropt{
    display: inline-block;

}


#pageoptions{

    position: fixed;
    right:0;
    top:0;
}

#showchatbutt{
    float: right;
    visibility: hidden;
}


/* chat css  */
#hidechatbutt{
    position:fixed;
    right:0px;


}

#chatwindow{
    visibility: visible;
    position: fixed;
    background-color: black;

    width: 300px;
    height: 100%;
    right:0;
    top:0;
    transition: ease-in-out, width .4s  ease-in-out;


}

#chatoptions{

    width: 300px;
    height:24px;
    background-color: lightgrey;
}

#chattabs{
    width: 300px;
    height: 36px;
    background-color: grey;
}
.swithchchat{
    background-color: inherit;

    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 8px;
    transition: 0.3s;
    font-size: 17px; 

}
.swithchchatactive {

    color:#c0c0c0;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 8px;
    transition: 0.3s;
    font-size: 17px;
    background-color: #303030;
}

.swithchchat:hover {    
    background-color: #dddddd;
}

#newchatoverlay{
    height: 100%;
    width:100%;
    background-color:rgba(128,128,128,0.5);
    position: fixed;
    left:0;
    top:0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 3;
}

#newchatwindow{
    padding: 20px;
    height: 300px;
    width: 300px;
    background-color: white;
    position: fixed;
    right:50%;
    top:50%;
    visibility: hidden;
    z-index: 4;
}

#chatuseropt{
    padding: 20px;
    height: 300px;
    width: 100px;
    background-color: white;
    position: fixed;
    right:300px;
    
    visibility: hidden;
    z-index: 4;

}
#chatuseroptionsoverlay{
    height: 100%;
    width:100%;
    background-color:rgba(128,128,128,0);
    position: fixed;
    left:0;
    top:0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 3;


}


#userchats{
    padding: 4px;

    float: right;
    background-color: grey;
    display: none;
    position: fixed;
    top:56px;
    right:10px;
    z-index: 3;
}


#usercahtscontainer{
    display: inline;
    padding: 2px;
}

#swithcuserchat{
    display: block;
}

#chattext{
    position: absolute;
    bottom: 140px;
    width: 300px;
    top:60px;
    background-color: #303030;
    overflow: scroll;
}


.chatentry{
    margin-left:16px;
    white-space:pre-wrap;
    color: #c0c0c0;
}
.chatheader{
    cursor: pointer;
    color: #fc5200;
    white-space:pre-wrap;

}

#chatinput{
    position: absolute;
    width: 300px;
    height:140px;
    background-color: white;
    bottom: 0px;

}

#comment{
    word-break: break-word;
    overflow: scroll;
}

.hide{
    visibility: hidden;
    position: fixed;
    top:-64px;
    right:-64px;
}
/* end chat style */





#tbd{
    float: down;
    margin-left:160px;
    margin-right:300px;

}